.bg-blue-50 {background-color: #EFF6FF;}
.bg-white {background-color: white;}
.bg-bluedark { background-color: #142934 }
.bg-blue-800 {
    background-color: #223E5B;
}
.hover-blue-700:hover {    background-color: #223E5B;}
.text-blue-800 {color: #2563EB;}
.text-white {color: white;}
.text-check {color: #00DA34;}
.bg-blue-600 {
    background-color: #142934;
}
.bg-blue-100 {
    background-color: #142934;
}

main{ 
    height: 100vh;
}
.navLink{
    text-decoration: none
}
.btn-primary {
    background-color: #142934;
}