<div class="container-fluid">
    <div class="row">
        <div class="col bg-white mt-3 p-3 shadow rounded-3">
            <button @onclick="ToggleCollapse" class="@buttonClass" data-bs-toggle="collapse" data-bs-target="#formPsychophysycal">
                <i class="@buttonIcon me-2"></i> @buttonText
            </button>
            <section class="container-fluid">
                <div class="mt-3 collapse" id="formPsychophysycal">
                    <div class="row mt-2">
                        <div class="form-floating col-lg-5 mx-auto mb-2">
                            <select class="form-select" id="BloodType" placeholder="Nombre"></select>
                            <label class="form-label ms-2" for="BloodType">Tipo de Sangre</label>
                            <div class="row mt-4">
                                <div class="col-lg-11 mx-auto mb-2 border-bottom border-secondary">
                                    <span>Enfermedades</span>
                                </div>
                                <div class="col-lg-11 mx-auto mb-2 mt-2">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <input class="form-check-input" type="checkbox" id="item1">
                                            <label class="form-check-label ms-2" for="item1">Asma bronquial</label>
                                        </li>
                                        <li class="list-group-item">
                                            <input class="form-check-input" type="checkbox" id="item2">
                                            <label class="form-check-label ms-2" for="item2">Fiebre reumática</label>
                                        </li>
                                        <li class="list-group-item">
                                            <input class="form-check-input" type="checkbox" id="item3">
                                            <label class="form-check-label ms-2" for="item3">Ulcera gastroduodenal</label>
                                        </li>
                                        <li class="list-group-item">
                                            <input class="form-check-input" type="checkbox" id="item4">
                                            <label class="form-check-label ms-2" for="item4">Enfermedades cardíacas</label>
                                        </li>
                                        <li class="list-group-item">
                                            <input class="form-check-input" type="checkbox" id="item5">
                                            <label class="form-check-label ms-2" for="item5">Tuberculosis</label>
                                        </li>
                                        <li class="list-group-item">
                                            <input class="form-check-input" type="checkbox" id="item7">
                                            <label class="form-check-label ms-2" for="item7">Diabetes</label>
                                        </li>                                        
                                    </ul>
                                </div>
                                <div class="col-lg-11 mx-auto mb-2 mt-2">
                                    <ul class="list-group">                                        
                                        <li class="list-group-item">
                                            <input class="form-check-input" type="checkbox" id="item8">
                                            <label class="form-check-label ms-2" for="item8">Convulsiones</label>
                                        </li>
                                        <li class="list-group-item">
                                            <input class="form-check-input" type="checkbox" id="item9">
                                            <label class="form-check-label ms-2" for="item9">Vértigos o mareos</label>
                                        </li>
                                        <li class="list-group-item">
                                            <input class="form-check-input" type="checkbox" id="item10">
                                            <label class="form-check-label ms-2" for="item10">Hipertensión arterial</label>
                                        </li>
                                        <li class="list-group-item">
                                            <input class="form-check-input" type="checkbox" id="item11">
                                            <label class="form-check-label ms-2" for="item11">Dolor de cabeza severo</label>
                                        </li>
                                        <li class="list-group-item">
                                            <input class="form-check-input" type="checkbox" id="item6">
                                            <label class="form-check-label ms-2" for="item6">Otra Enfermedad</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-lg-11 mx-auto mb-2 border-bottom border-secondary">
                                    <span>Vacunas</span>
                                </div>
                                <div class="col-lg-11 mx-auto mb-2 mt-2">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <input class="form-check-input" type="checkbox" id="item12">
                                            <label class="form-check-label ms-2" for="item12">Difteria</label>
                                        </li>
                                        <li class="list-group-item">
                                            <input class="form-check-input" type="checkbox" id="item13">
                                            <label class="form-check-label ms-2" for="item13">Viruela</label>
                                        </li>
                                        <li class="list-group-item">
                                            <input class="form-check-input" type="checkbox" id="item14">
                                            <label class="form-check-label ms-2" for="item14">Hepatitis</label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-11 mx-auto mb-2 mt-2">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <input class="form-check-input" type="checkbox" id="item15">
                                            <label class="form-check-label ms-2" for="item15">Tétanos</label>
                                        </li>
                                        <li class="list-group-item">
                                            <input class="form-check-input" type="checkbox" id="item16">
                                            <label class="form-check-label ms-2" for="item16">Polio</label>
                                        </li>
                                        <li class="list-group-item">
                                            <input class="form-check-input" type="checkbox" id="item17">
                                            <label class="form-check-label ms-2" for="item17">Otras</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="form-floating col-lg-5 mx-auto mb-2 ">
                            <select class="form-select" id="MedicalInsurance" placeholder="Nombre"></select>
                            <label class="form-label ms-2" for="MedicalInsurance">Obra Social</label>
                            <div class="row mt-4">
                                <div class="col-lg-11 mx-auto mb-2 border-bottom border-secondary">
                                    <span>Alergias</span>
                                </div>
                                <div class="col-lg-11 mx-auto mb-2 mt-2">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <input class="form-check-input" type="checkbox" id="item18">
                                            <label class="form-check-label ms-2" for="item18">Suero</label>
                                        </li>
                                        <li class="list-group-item">
                                            <input class="form-check-input" type="checkbox" id="item19">
                                            <label class="form-check-label ms-2" for="item19">Drogas</label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-11 mx-auto mb-2 mt-2">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <input class="form-check-input" type="checkbox" id="item20">
                                            <label class="form-check-label ms-2" for="item20">Alimentos</label>
                                        </li>
                                        <li class="list-group-item">
                                            <input class="form-check-input" type="checkbox" id="item21">
                                            <label class="form-check-label ms-2" for="item21">Otros</label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="mt-4">
                                    <div class="col-lg-11 mx-auto mb-2">
                                        <span>Comentarios Adicionales: </span>
                                        <textarea class="form-control w-100 mt-3" style="height: 150px;" name="" id="aditionalComments">
                                        </textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
@code {
    private bool isCollapsed = true;

    private string buttonText = "Añadir Psicofísico";
    private string buttonClass = "btn btn-success";
    private string buttonIcon = "fa-regular fa-square-plus";

    private void ToggleCollapse()
    {
        isCollapsed = !isCollapsed;

        if (isCollapsed)
        {
            buttonText = "Añadir Psicofísico";
            buttonClass = "btn btn-success";
            buttonIcon = "fa-regular fa-square-plus";
        }
        else
        {
            buttonText = "Eliminar Psicofísico";
            buttonClass = "btn btn-danger";
            buttonIcon = "fa-solid fa-trash-can";
        }
    }
}
