@using UniversitarySystem.Views.ViewModels.AddStudent
<EditForm Model="@TitleInformation">
    <nav class="shadow p-3 rounded-3 bg-white mt-3">
        <div class="border-bottom h3 border-secondary col-lg-11 mx-auto d-flex">
            <span>Información Educativa</span>
        </div>
        <div class="row mt-4 mb-4">
            <div class="form-floating col-lg-5 mx-auto mb-2">
                <InputText @bind-Value="TitleInformation.HighSchool" class="form-control" id="HighSchool" placeholder="Escuela Secundaria" />
                <label class="form-label ms-2" for="HighSchool">Escuela Secundaria</label>
                <div class="form-floating mt-4">
                    <InputDate @bind-Value="TitleInformation.EgressDate" class="form-control mt-3" id="EgressDate" />
                    <label class="form-label" for="EgressDate">Fecha de egreso</label>
                </div>
            </div>
            <div class="form-floating col-lg-5 mx-auto mb-2">
                <InputText @bind-Value="TitleInformation.SecondaryDegree" class="form-control" id="SecondaryDegree" placeholder="Título Secundario" />
                <label class="form-label ms-2" for="SecondaryDegree">Título Secundario</label>
            </div>
        </div>
    </nav>
</EditForm>

@code {
    [Parameter]
    public TitleInformationViewModel TitleInformation { get; set; }
}


