<NavLink class="nav-item navLink">
    <a class="nav-link text-white hover-blue-700 d-flex align-items-center p-2 rounded" href="@PageRef">
        <i class="@ClassIcon me-2 fs-4"></i>
        <span class="fs-4">@Text</span>
    </a>
</NavLink>

@code {
    [Parameter]
    public string Text { get; set; }
    [Parameter]
    public string ClassIcon { get; set; }
    [Parameter]
    public string PageRef { get; set; }
}
