<div class="position-sticky pt-3">
    <div class="d-flex align-items-center justify-content-center border-bottom border-light">
        <i class="fa-solid fa-graduation-cap text-white fs-3"></i>
        <span class="fs-3 text-white fw-bold p-2"> UniSystem</span>
    </div>
    <div class="row p-4">
        <ul class="nav flex-column">
            <li>
                <NavBarItem Text="Inicio" 
                    ClassIcon="fa-solid fa-house" 
                    PageRef="/"/>
            </li>
            <li>
                <NavBarItem Text="Estudiantes" 
                    ClassIcon="fa-solid fa-user-graduate" 
                    PageRef="/addStudentForm"/>
            </li>
            <li>
                <NavBarItem Text="Carreras" 
                    ClassIcon="fa-solid fa-book-open" 
                    PageRef="/collegeCareers"/>
            </li>
        </ul>
    </div>
</div>