<div class="position-sticky pt-3">
    <div class="d-flex align-items-center justify-content-center border-bottom border-light">
        <i class="fa-solid fa-graduation-cap text-white fs-3"></i>
        <span class="fs-3 text-white fw-bold p-2"> UniSystem</span>
    </div>
    <div class="row p-4">
        <ul class="nav flex-column">
            <NavLink class="nav-item navLink">
                <a class="nav-link text-white hover-blue-700 d-flex align-items-center p-2 rounded" href="/">
                    <i class="fa-solid fa-house me-2 fs-4"></i>
                    <span class="fs-4">Inicio</span>
                </a>
            </NavLink>
        </ul>
        <ul class="nav flex-column">
            <NavLink class="nav-item navLink">
                <a class="nav-link text-white hover-blue-700 d-flex align-items-center p-2 rounded" href="/addStudentForm">
                    <i class="fa-solid fa-user-graduate me-2 fs-4"></i>
                    <span class="fs-4">Estudiantes</span>
                </a>
            </NavLink>
        </ul>
        <ul class="nav flex-column">
            <NavLink class="nav-item navLink">
                <a class="nav-link text-white hover-blue-700 d-flex align-items-center p-2 rounded" href="/AddCollegeCareerForm">
                    <i class="fa-solid fa-book-open me-2 fs-4"></i>
                    <span class="fs-4"> Carreras</span>
                </a>
            </NavLink>
        </ul>
    </div>
</div>