.card[b-iunxy67043] {
    background-color: white;
}

.card-header[b-iunxy67043] {
    background-color: #1D4ED8;
    color: white;
}

.card-footer[b-iunxy67043] {
    color: black;
}

.btn-light:hover[b-iunxy67043] {
    background-color: #1D4ED8;
    border-color: white;
    color: white;
}

.btn-danger:hover[b-iunxy67043] {
    background-color: white;
    color: red;
}
