@page "/"

<SupTitleBarComponent ClassIconBar="@iconBarClass" TitleBarSup="@titleBar"/>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mb-4 mt-1">
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <h5 class="card-title mb-0">Total Estudiantes</h5>
                    <i class="fa-solid fa-users"></i>
                </div>
                <p class="card-text fs-2 fw-bold">1,234</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <h5 class="card-title mb-0">Carreras Ofrecidas</h5>
                    <i class="fa-solid fa-award"></i>
                </div>
                <p class="card-text fs-2 fw-bold">13</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center mb-2">
                    <h5 class="card-title mb-0">Calendario</h5>
                    <i class="fa-regular fa-calendar"></i>
                </div>
            </div>
        </div>
    </div>
</div>

@code{
    private string titleBar = "Planilla";
    private string iconBarClass = "fa-regular fa-clipboard";
}
